<!-- This file was precompiled by iProgramInCpp's MarkdownBlogThing. -->
<html>
	<head>
		<title>XXX_TITLE_HERE_XXX</title>
		<link rel="stylesheet" type="text/css" href="../../style.css"> <!-- Root Style -->
		<link rel="stylesheet" type="text/css" href="../style.css">    <!-- Blog Style -->
	</head>
	<body>
		<h1 style="text-align: center">iProgramInCpp's Bunker</h1>
		<table style="margin:auto">
			<tr>
				<td>
					<a class="hl" href="/">Home</a> &bull;
					<a class="hl" href="https://youtube.com/@iProgramInCpp">YouTube</a> &bull;
					<a class="hl" href="https://github.com/iProgramMC">GitHub</a> &bull;
					<a class="hl" href="https://discord.gg/DFTybYsKcg">Discord [Gamma64]</a> &bull;
					<a class="hl" href="https://bsky.app/profile/iprogramincpp.com">Bluesky</a> &bull;
					<a class="hl" href="../index.html">Ramblings</a>
				</td>
			</tr>
		</table>
		<hr>
		<br>
		<div class="mainbox"><div class="subbox">
